@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,900&family=VT323&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
*::selection{
    background: #ff702a;
    color: #fff;
}
body{
    color: #fff;
    background:#1e1c2a ;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
    background: #1e1c2a;
}
.logo{
    color: #ff702a;
    font-weight: 600;
    font-size: 2.4rem;

}
.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    grid-gap: 1.5rem;
    align-items: center;
} 
.box{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background: #feeee7;
    padding: 20px;
    border-radius: 0.5rem;
    cursor: pointer;
}
.box-img{
    width: 220px;
    height: 220px;
}
.box-img img{
    width: 100%;
    height: 100%;
}
.box h2{
    font-size: 1.3rem;
    color:#1e1c2a ;
}
.box h3{
    color:#1e1c2a ;
    font-size: 1rem;
    font-weight: 400;
    margin:4px 0 10px ;
}
.box span{
    font-size: 0.9rem;
    color: #ff702a;
    font-weight: 600;
}
.box .bx{
    background: #ff702a;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 7px 10px ;
    border-radius: 0 0.5rem 0 0.5rem;
}
.menu-container .box :hover{
    transform: scale(1.1,1.1);
}





